h2{
	font-family: 'Pangolin', cursive;
}
.btn:hover {
 transform: rotate(360deg);
 transition: transform 4s ease-out;
}

body{
  background-repeat: no-repeat;
	
	      background-attachment: fixed;
    background-position: left;
    background-color: transparent;
}
.info{
	
    background-color: white;
  background-position: right;
    border: 5px solid green;
  
    margin-left: auto;
    margin-right: auto;
    width: 30em
}
