h2{
	font-family: 'Pangolin', cursive;
}
.btn:hover {
 transform: rotate(360deg);
 transition: transform 4s ease-out;
}

background-image{
	  opacity: 0.1;
}

.info{
	
    background-color: white;
   ;
    border: 25px solid green;
  
    margin-left: auto;
    margin-right: auto;
    width: 30em
}
