
.btn:hover {
 transform: rotate(360deg);
 transition: transform 4s ease-out;
}

.info{
	
    background-color: white;
   ;
    border: 25px solid green;
  
    margin-left: auto;
    margin-right: auto;
    width: 30em
}
